PORT=8082

# Auth service
AUTH_SERVICE_VALIDATE_URL=http://localhost:4000/api/auth/validate

# PostgreSQL
DATABASE_URL=
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=postgres
DB_SYNCHRONIZE=true

# Kafka
KAFKA_BROKERS=localhost:9092
KAFKA_TOPIC_WS_EVENTS=ws_events
KAFKA_CLIENT_ID=cms-ws-service
KAFKA_GROUP_ID=cms-ws-service-group
